/*poster*/
.pos_a{width: 100%; float:left; margin-top: -15px; display: block;}
.pos_a_a{ width: 100%; margin: 0 auto; padding-bottom: 32.2%;}
.pos_a_a img{ width: 100%; height: 100%; float: left;}

/* qiehuan-wm-见页面 */

/* qiehuan-pp-见页面 */

/* daohang */
.dao_h{width: 68%; margin: 0 auto;}
.dao_h_a{ width: 100%; float:left; border-bottom: 1px #9a9a9a dashed; margin-top: 2%; display: block;}
.dao_h_a span{ float: right; background: url(../images/zy_daohang_tb.jpg) no-repeat left center; background-size: 11%; line-height: 35px; padding-left:2.5%; display: block;}
.dao_h_a span a{float: left; font-size: 12px; padding: 3px 3px 0 3px; display: block;}
.dao_h_a span em{float: right;}
.dao_h_a span i{float: right; color: #c65c21;}

/* wm-content */
.zwm_a{width: 68%; margin: 0 auto;}
/* pp-content */
.zpp_a{width: 68%; margin: 0 auto;}
/* xx-content */
.zxx_a{width: 100%; margin: 0 auto;}
/* md-content */
.zmd_a{width: 100%; margin: 0 auto;}
/* jm-content */
.zjm_a{width: 100%; margin: 0 auto;}

/* wm-gsjj */
.zwm_b{ width: 100%; float:left; margin: 8% 0; display: block;}
.zwm_b dl{ width: 100%; margin: 0 auto;}
.zwm_b dl dd{ width: 35%; float:left;}
.zwm_b dl dd img{ width: 100%; height: 100%; float: left;}
.zwm_b dl dt{ width: 60%; float:left; margin-left: 5%; display: block;}
.zwm_b dl dt strong{ width: 100%; float:left; line-height: 40px; margin-top: 18%; display: block; font-size: 18px; color: #c65c21;}
.zwm_b dl dt b{ width: 100%; float:left; margin:1% 0; display: block;}
.zwm_b dl dt b a{ width: 4%; float:left; border: 1px #000000 solid;}
.zwm_b dl dt p{ width: 100%; float:left; line-height: 24px; margin-top: 0.5%; display: block; font-size: 12px;}

/* wm-qywh */
.zwm_c{ width: 100%; float:left; margin: 8% 0; display: block;}
.zwm_c dl{ width: 100%; margin: 0 auto;}
.zwm_c dl dd{ width: 35%; float:left;}

.zwm_c dl dd ul{ width: 100%; margin: 0 auto;}
.zwm_c_a li{ width: 100%; float:left; margin-top: 2.5%; display: block;}
.zwm_c_a li strong{ width: 100%; float:left; line-height: 26px; font-size: 18px; color: #c65c21;}
.zwm_c_a li p{ width: 100%; float:left; line-height: 24px; font-size: 12px;}
.zwm_c dl dd i{ width: 80%; float:left; margin-top: 8%; display: block;}
.zwm_c dl dd i img{ width: 100%; height: 100%; float: left;}
.zwm_c dl dt{ width: 63%; float:left; margin-left: 2%; margin-top: 6%; display: block;}
.zwm_c dl dt img{ width: 100%; height: 100%; float: left;}

/* wm-fzlc */
.zwm_d{width: 100%; float:left; margin: 5% 0; display: block;}
.zwm_d_a{ width: 100%; margin: 0 auto; padding-bottom: 32.2%;}
.zwm_d_a img{ width: 100%; height: 100%; float: left;}

/* pp-ppgs */
.zpp_b{ width: 100%; float:left; margin: 8% 0 11% 0; display: block;}
.zpp_b dl{ width: 100%; margin: 0 auto;}
.zpp_b dl dd{ width: 50%; float:left; padding-top: 15%; display: block;}
.zpp_b dl dd img{ width: 100%; height: 100%; float: left;}
.zpp_b dl dt{ width: 43%; float:left; margin-left: 7%; display: block;}
.zpp_b dl dt img{ width: 100%; height: 100%; float: left;}

/* pp-ppfg */
.zpp_c{ width: 100%; float:left; margin: 8% 0 8% 0; display: block;}
.zpp_c dl{ width: 100%; margin: 0 auto;}
.zpp_c dl dd{ width: 100%; float:left; margin-bottom:2%; display: block;}
.zpp_c dl dd img{ width: 100%; height: 100%; float: left;}
.zpp_c dl dt{ width: 100%; float:left; margin-top:6%; display: block;}
.zpp_c dl dt img{ width: 100%; height: 100%; float: left;}

/* pp-ppln */
.zpp_d{ width: 100%; float:left; margin: 10% 0; display: block;}
.zpp_d dl{ width: 100%; margin: 0 auto;}
.zpp_d dl dd{ width: 58%; float:left;}
.zpp_d dl dd img{ width: 100%; height: 100%; float: left;}
.zpp_d dl dt{ width: 40%; float:left; margin-left: 2%; display: block;}
.zpp_d dl dt strong{ width: 100%; float:left; text-align:center; line-height: 40px; font-size: 22px; color: #c65c21;}
.zpp_d dl dt p{ width: 100%; float:left; text-align:center; line-height: 24px; margin-top: 6%; display: block; font-size: 18px; color: #606060;}
.zpp_d dl dt ul{ width: 100%; float:left; margin-top: 15%; display: block;}
.zpp_d dl dt ul li{ width: 100%; float:left; margin-top: 10%; display: block;}
.zpp_d dl dt ul li b{ width: 100%; float:left; text-align:center; line-height: 32px; font-size: 20px; color: #c65c21;}
.zpp_d dl dt ul li em{ width: 100%; float:left; text-align:center; line-height: 28px;}
.zpp_d dl dt ul li em a{ padding: 0 1%; font-size: 18px;}
.zpp_d dl dt ul li i{ width: 100%; float:left; text-align:center; padding-bottom: 2%; margin-top: 11%; display: block;}
.zpp_d dl dt ul li i a{ width: 16%; border-bottom: 1px #c65c21 solid; float: left; margin-left: 42%; display: block;}

/* pp-ppzx */
.zpp_e{ width: 100%; float:left; margin: 10% 0; display: block;}
.zpp_e_a{ width: 100%; margin: 0 auto;}
.zpp_e_a strong{ width: 100%; float:left; text-align:center; line-height: 32px; font-size: 22px; color: #c65c21;}
.zpp_e_a i{ width: 100%; float:left; text-align:center; padding-bottom: 2%; margin-top: 5%; display: block;}
.zpp_e_a i a{ width: 4%; border-bottom: 1px #000000 solid; float: left; margin-left: 48%; display: block;}
.zpp_e_b{ width: 100%; margin: 0 auto;}
.zpp_e_b dl{ width: 45%; float:left; margin: 8% 0 0 3.3%; display: block;}
.zpp_e_b dl dd{ width: 100%; float:left; margin-left: 0%; display: block;}
.zpp_e_b dl dd em{ width: 100%; float:left;}
.zpp_e_b dl dd em img{ width: 100%; height: 100%; float: left;}
.zpp_e_b dl dd span{ width: 90%; float:left; margin: -5% 0 0 5%; padding-bottom: 2.5%; display: block; background: #fffbfa; -webkit-box-shadow:2px 2px 2px #e1dfde; -moz-box-shadow:2px 2px 2px #e1dfde;}
.zpp_e_b dl dd span b{ width: 90%; float:left; margin: 3.5% 0 0 5%; display: block; color: #939393; white-space: nowrap; text-overflow:ellipsis; overflow:hidden;}
.zpp_e_b dl dd span b a{ color: #939393; font-size: 12px; font-weight: normal;}
.zpp_e_b dl dd span p{ width: 90%; float:left; margin: 1.5% 0 1.5% 5%; display: block; color: #939393; font-size: 12px;}
.zpp_e_c{ width: 100%; margin: 0 auto;}
.zpp_e_c ul{ width: 100%; float:left; text-align:center; margin-top: 10%; display: block;}
.zpp_e_c ul li{ border: 1px #c6c7c7 solid; color: #818181; padding: 0.3% 1% 0.3% 1%; display: inline; font-size: 12px;}
.zpp_e_c ul li a{ color: #818181; cursor:pointer;}
.zpp_e_c ul .fy:hover{ border: 1px #c65c21 solid; color: #ffffff; background: #c65c21; padding: 0.3% 1% 0.3% 1%; display: inline; font-size: 12px;}
.zpp_e_c ul .fy:hover a{ color: #ffffff; cursor:pointer;}
.zpp_e_c ul .ft{ border: 1px #c65c21 solid; color: #ffffff; background: #c65c21;}
.zpp_e_c ul .ft a{ border: 1px #c65c21 solid; color: #ffffff; background: #c65c21;}
.zpp_e_c ul span{display: inline;}

/* pp-ppzx-xq */
.zpp_f{ width: 100%; float:left; margin: 10% 0 5% 0; display: block;}
.zpp_f_a{ width: 100%; margin: 0 auto;}
.zpp_f_a strong{ width: 100%; float:left; text-align:center; line-height: 32px; font-size: 14px; color: #c65c21;}
.zpp_f_a i{ width: 100%; float:left; text-align:center; padding-bottom: 2%; margin-top: 5%; display: block;}
.zpp_f_a i a{ width: 4%; border-bottom: 1px #000000 solid; float: left; margin-left: 48%; display: block;}
.zpp_f_a p{ width: 90%; float:left; line-height: 24px; margin-left: 5%; margin-top: 5%; display: block; font-size: 12px; color: #606060;}
.zpp_f_b{ width: 90%; margin: 0 auto;}
.zpp_f_b strong{ width: 100%; float:left; text-align:center; margin-top: 15%; display: block; line-height: 32px; font-size: 22px; color: #c65c21;}
.zpp_f_b i{ width: 100%; float:left; text-align:center; padding-bottom: 1%; margin-top: 3%; display: block;}
.zpp_f_b i a{ width: 4%; border-bottom: 1px #000000 solid; float: left; margin-left: 48%; display: block;}
.zpp_f_b dl{ width: 100%; float:left; margin-top: 8%; display: block;}
.zpp_f_b dl dd{ width: 42%; float:left; margin-left: 5%; display: block;}
.zpp_f_b dl dd span{ width: 90%; float:left; margin: 0% 0 0 5%; padding-bottom: 3%; display: block; border-bottom:1px #e1dfde solid; background: #fffbfa; -webkit-box-shadow:2px 2px 2px #e1dfde; -moz-box-shadow:2px 2px 2px #e1dfde;}
.zpp_f_b dl dd span b{ width: 90%; float:left; margin: 4% 0 0 5%; display: block; color: #939393; white-space: nowrap; text-overflow:ellipsis; overflow:hidden;}
.zpp_f_b dl dd span b a{ color: #939393; font-size: 12px; font-weight: normal;}
.zpp_f_b dl dd span p{ width: 90%; float:left; margin: 2% 0 1.5% 5%; display: block; color: #939393; font-size: 12px;}
.zpp_f_b dl dt{ width: 42%; float:right; margin-right: 5%; display: block;}
.zpp_f_b dl dt span{ width: 90%; float:left; margin: 0% 0 0 5%; padding-bottom: 3%; display: block; border-bottom:1px #e1dfde solid; background: #fffbfa; -webkit-box-shadow:2px 2px 2px #e1dfde; -moz-box-shadow:2px 2px 2px #e1dfde;}
.zpp_f_b dl dt span b{ width: 90%; float:left; margin: 4% 0 0 5%; display: block; color: #939393; white-space: nowrap; text-overflow:ellipsis; overflow:hidden;}
.zpp_f_b dl dt span b a{ color: #939393; font-size: 12px; font-weight: normal;}
.zpp_f_b dl dt span p{ width: 90%; float:left; margin: 2% 0 1.5% 5%; display: block; color: #939393; font-size: 12px;}
.PP_slide_container{position: relative; float: left; width: 100%;}
.PP_rslides{position: relative;list-style: none;overflow: hidden;width: 100%;padding: 0;margin: 0;}
.PP_slide{position: relative;overflow: hidden;width: 100%;padding-bottom: 5%;margin: 0;}
.PP_slide li{position: absolute;width: 100%;left: 0;top: 0;}
.PP_slide .PP_caption{display: none;}
.PP_slide_nav:active{opacity: 1.0;}
.PP_slide_nav{
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
}
.PP_slide_nav.prev{width: 2.5%;background:url(../images/home_gywm_zx_left1.jpg) no-repeat top left; background-size: 100%;left: 0;padding-bottom:1%;}
.PP_slide_nav.prev:hover{width: 2.5%;background:url(../images/home_gywm_zx_left2.jpg) no-repeat top left; background-size: 100%;left: 0;padding-bottom:1%;}
.PP_slide_nav.next{width: 2.5%;background:url(../images/home_gywm_zx_right1.jpg) no-repeat top left; background-size: 100%;right: 0;padding-bottom:1%;}
.PP_slide_nav.next:hover{width: 2.5%;background:url(../images/home_gywm_zx_right2.jpg) no-repeat top left; background-size: 100%;right: 0;padding-bottom:1%;}

/* xx-xxzx */
.zxx_b{ width: 100%; float:left; margin: 5% 0 0% 0; display: block;}
.zxx_b strong{ width: 100%; float:left; margin-top:-22%; display: block;}
.zxx_b strong a{width: 22%; float:right; padding-bottom:1%; background:url(../images/xx/xx_xxzx_bg1.png) no-repeat top left; background-size: 110%;}
.zxx_b dl{ width: 62%; margin: 0 auto;}
.zxx_b dl dd{ width: 50%; float:left; padding-bottom: 0%; display: block;}
.zxx_b dl dd em{ width: 100%; height: 100%; float: left;}
.zxx_b dl dd em img{ width: 100%; height: 100%; float: left; transition:all 1s;}
.zxx_b dl dd em:hover img{-webkit-transform:scale(1.02,1.02);}
.zxx_b dl dd b{ width: 32%; text-align:left; letter-spacing:1px; float: left; font-weight:normal; line-height:42px; margin-left: 34%; margin-top:6%; display: block; font-size: 12px;}
.zxx_b dl dd b a{ color: #434343;}
.zxx_b dl dd b:hover a{ color: #000000;}
.zxx_b dl dd i{ width: 100%; height:0px; float:left; text-align:center; padding-bottom: 2%; display: block;}
.zxx_b dl dd i a{ width: 36%; border-bottom: 1px #434343 solid; float: left; margin-left: 34%; display: block;}
.zxx_b dl dt{ width: 50%; float:left; padding-top: 0%; display: block;}
.zxx_b dl dt em{ width: 100%; height: 100%; float: left;}
.zxx_b dl dt em img{ width: 100%; height: 100%; float: left; transition:all 1s;}
.zxx_b dl dt em:hover img{-webkit-transform:scale(1.02,1.02);}
.zxx_b dl dt b{ width: 32%; text-align:right; letter-spacing:1px; float: left; font-weight:normal; line-height:42px; margin-left: 34%; margin-top:6%; display: block; font-size: 12px;}
.zxx_b dl dt b a{ color: #434343;}
.zxx_b dl dt b:hover a{ color: #000000;}
.zxx_b dl dt i{ width: 100%; height:0px; float:left; text-align:center; padding-bottom: 2%; display: block;}
.zxx_b dl dt i a{ width: 36%; border-bottom: 1px #434343 solid; float: left; margin-left: 30%; display: block;}
/* xx-xxsp */
.zxx_c{ width: 100%; float:left; margin: 5% 0 5% 0; display: block;}
.zxx_c dl{ width: 100%; margin: 0 auto;}
.zxx_c dl dd{ width: 62%; float:left; margin-left:19%; text-align:center; display: block;}
/* .zxx_c dl dd img{ width: 100%; height: 100%; float: left;} */
.zxx_c dl dt{ width: 100%; float:left; margin-top:1%; display: block;}
.zxx_c dl dt img{ width: 100%; height: 100%; float: left;}

/* xx-xxxl */
#slideshow{ margin: 0 auto; padding:4% 0 52% 0; display: block;}
#slideshow .img{ overflow: hidden;}
#slideshow .img span{position: absolute; display: block;}
#slideshow .img span a{display: inline;}
#slideshow .img span a img{width: 100%; height: 100%; float: left;}
#slideshow .btns{z-index: 10;position: absolute;width:84.5%;}
#slideshow .btns b{width:100%; float:left; margin-top:55%; display: block;}
#slideshow .btns b i{width: 20%; float: left; height: 1px; border-bottom:#dededd 2px solid; overflow: hidden;cursor: pointer;}
#slideshow .btns b i.on{background: #d19879;border:none;cursor: default; padding-bottom:2px; display: block;}
#slideshow .btns s{width:100%; float:left; margin-top:-34%; display: block;width: 34px;height: 34px;overflow: hidden;cursor: pointer}
#slideshow .btns s.prev{ float:left; background: url(../images/xx/xx_xxtc_left1.jpg) no-repeat;}
#slideshow .btns s.next{ float:right; background: url(../images/xx/xx_xxtc_right1.jpg) no-repeat;}
#slideshow .btns s{display: block}
.paging{position: absolute;}
.paging img{width: 100%; height: 100%; float: left;}

/*mdcx*/
.mz_a{ width: 100%; float:left; margin: -6% 0 5% 0; display: block;}
.mz_a_a{ width: 68%; margin: 0 auto;}
.mz_b_b{ width: 82%; margin: 0 auto;}
/* 1 */
.mz_h{ width: 100%; float: left;}
.mz_h_a{ width: 50%; float: left;}
.mz_h_a span{ width: 80%; float: left; background: url(../images/md/mdzs_zt_1.jpg) no-repeat top left; background-size: 100%; padding-bottom: 11%; display: block;}
.mz_h_a span strong{ width: 84%; float: left; text-align:center; margin:26% 0 0 8%; display: block; color: #161616; letter-spacing:1px; font-size: 18px;}
.mz_h_a span p{ width: 84%; float: left; margin:6% 0 0 8%; display: block; color: #6b6b6b; font-size: 12px; line-height: 26px;}
.mz_h_b{ width: 50%; float: right; margin: 26% 0 0 0; display: block;}
.mz_h_b b{ width: 100%; text-align:right; line-height:32px; float: right; color: #222222; font-weight:normal; font-size: 23px;}
.mz_h_b em{ width: 100%; float: right; margin: 2% 0 0 0; display: block;}
.mz_h_b em img{ width: 100%; height: 100%; float: left;}
.mz_h_b dl{width: 100%; float: left; margin: 6% 0 0 0; display: block;}
.mz_h_b dl dd{width: 90%; float: left; clear: both;}
#mz_procent{ width: 39.2%; background: url(../images/home_mdzs_an1.jpg) no-repeat top left; background-size: 100%; float: left; padding-bottom: 1%; display: block; border: 1px #9a9a9a solid;}
#mz_procent select{ width: 100%; background: none; border: none; padding-left: 1%; font-size: 12px; float: left;}
#mz_shop{ width: 55%; background: url(../images/home_mdzs_an2.jpg) no-repeat top left; background-size: 100%; float: left; margin-left: 4%; padding-bottom: 1%; display: block; border: 1px #9a9a9a solid;}
#mz_shop select{ width: 100%; background: none; border: none; padding-left: 1%; font-size: 12px; float: left;}
.mz_h_b dl dt{width: 7%;  margin-left: 3%; float: left; display: block;}
#mz_anniu{ width: 100%; border: 1px #c65c21 solid; background: url(../images/md/mdzs_an_1.jpg) no-repeat top left #c65c21; padding-bottom: 70%; background-size: 100%; float: left; display: block; cursor: pointer;}
/*2*/
.mz_c{ width: 100%; float: left;}
#qiehuan{ width: 100%; float: left; margin: 3% 0 0 0; display: block;}
.TT_slide_container{position: relative; float: left; width: 100%;}
.TT_rslides{position: relative;list-style: none;overflow: hidden;width: 100%;padding: 0;margin: 0;padding-bottom: 100%;}
.TT_rslides li{-webkit-backface-visibility: hidden;position: absolute;display: none;width: 100%;left: 0;top: 0;}
.TT_rslides li:first-child{position: relative;display: block;float: left;}
.TT_rslides img{display: block;height: auto;float: left;width: 100%;border: 0;}
.TT_slide{position: relative;list-style: none;overflow: hidden;width: 100%;padding: 0;margin: 0;}
.TT_slide li{position: absolute;width: 81%;left: 8.5%;top: 0; border: 1px #bfbfbf solid; padding: 1%;}
.TT_slide img{display: block;position: relative;z-index: 1;height: auto;width: 100%;border: 0;left:0px;}
.TT_slide .TT_caption{display: none;}
.TT_slide_nav:active{opacity: 1.0;}
.TT_slide_nav{
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
}
.TT_slide_nav.prev{width: 2.5%;background:url(../images/md/mdzs_left1.png) no-repeat top left; background-size: 100%;left: 0;padding-bottom:1%;}
.TT_slide_nav.prev:hover{width: 2.5%;background:url(../images/md/mdzs_left2.png) no-repeat top left; background-size: 100%;left: 0;padding-bottom:1%;}
.TT_slide_nav.next{width: 2.5%;background:url(../images/md/mdzs_right1.png) no-repeat top left; background-size: 100%;right: 0;padding-bottom:1%;}
.TT_slide_nav.next:hover{width: 2.5%;background:url(../images/md/mdzs_right2.png) no-repeat top left; background-size: 100%;right: 0;padding-bottom:1%;}

/* jm-jmlc */
.zjm_b{width: 100%; float:left;}
.zjm_b_a{ width: 100%; margin: 0 auto; padding-bottom: 38.8%;}
.zjm_b_a img{ width: 100%; height: 100%; float: left;}

/*jmyq*/
.jm_a{ width: 100%; float:left; background:url(../images/jm/jmyq_bg.jpg) no-repeat top left; background-size: 100%; margin-top: 5%; display: block;}
.jm_a_a{ width: 68%; margin: 0 auto; padding-bottom:63.5%;}
.jm_z{ width: 100%; float: left; margin: 4% 0 0 0; display: block;}
.jm_z strong{ width: 100%; float: left; text-align:left; line-height:32px; color: #c65c21; letter-spacing:1px; font-size: 21px;}
.jm_z p{ width: 100%; float: left; margin: 2% 0 0 0; display: block; color: #2a2a2a; font-size: 12px;}

.jm_b{ width: 66%; float: left; margin: 5% 0 0 0;}
.jm_b_a{ width: 100%; float:left;}
.jm_b_a dd{ width: 78%; float:left;}
.input_all{ width: 100%; float:left; margin-top: 2%; display: block;}
.input_all #in_name{ width: 70%; float:left; background: url(../images/jm/jmyq_1.jpg) no-repeat; background-size: 100%; padding-bottom: 2.2%; display: block;}
.input_all #in_name input{ width: 86%; float:left; border: 0px; padding:1.5% 0 1.5% 1%; margin-top: 2.5%; margin-left: 10%; display: block; font-size: 12px;}
.input_all #in_phone{ width: 70%; float:left; background: url(../images/jm/jmyq_2.jpg) no-repeat; background-size: 100%; padding-bottom: 2.2%; display: block;}
.input_all #in_phone input{ width: 86%; float:left; border: 0px; padding:1.5% 0 1.5% 1%; margin-top: 2.5%; margin-left: 10%; display: block; font-size: 12px;}
.input_all #in_qq{ width: 70%; float:left; background: url(../images/jm/jmyq_3.jpg) no-repeat; background-size: 100%; padding-bottom: 2.2%; display: block;}
.input_all #in_qq input{ width: 86%; float:left; border: 0px; padding:1.5% 0 1.5% 1%; margin-top: 2.5%; margin-left: 10%; display: block; font-size: 12px;}
.input_all #in_email{ width: 70%; float:left; background: url(../images/jm/jmyq_4.jpg) no-repeat; background-size: 100%; padding-bottom: 2.2%; display: block;}
.input_all #in_email input{ width: 86%; float:left; border: 0px; padding:1.5% 0 1.5% 1%; margin-top: 2.5%; margin-left: 10%; display: block; font-size: 12px;}
.input_all #in_adress{ width: 70%; float:left; background: url(../images/jm/jmyq_7.jpg) no-repeat; background-size: 100%; padding-bottom: 2.2%; display: block;}
.input_all #in_adress input{ width: 86%; float:left; border: 0px; padding:1.5% 0 1.5% 1%; margin-top: 2.5%; margin-left: 10%; display: block; font-size: 12px;}

.input_all #jm_procent{ width: 38%; float: left; background: url(../images/jm/jmyq_5.jpg) no-repeat; background-size: 100%; padding-bottom: 1.8%; margin-bottom: -0.4%; display: block;}
.input_all #jm_procent select{ width: 76%; float: left; border: none; padding:4% 0 4% 1%; margin-top: 2.5%; margin-left: 20%; display: block; font-size: 12px; background: none;}
.input_all #jm_shop{ width: 43%; float: left; background: url(../images/jm/jmyq_6.jpg) no-repeat; background-size: 100%; padding-bottom: 1.8%; margin-left: 3%; margin-bottom: -0.4%; display: block;}
.input_all #jm_shop select{ width: 76%; float: left; border: none; padding:4% 0 4% 1%; margin-top: 2.5%; margin-left: 20%; display: block; font-size: 12px; background: none;}
.input_all #jm_kdjy{ width: 38%; float: left; background: url(../images/jm/jmyq_8.jpg) no-repeat; background-size: 100%; padding-bottom: 1.8%; margin-bottom: -0.4%; display: block;}
.input_all #jm_kdjy select{ width: 76%; float: left; border: none; padding:4% 0 4% 1%; margin-top: 2.5%; margin-left: 20%; display: block; font-size: 12px; background: none;}
.input_all #jm_ywdp{ width: 43%; float: left; background: url(../images/jm/jmyq_9.jpg) no-repeat; background-size: 100%; padding-bottom: 1.8%; margin-left: 3%; margin-bottom: -0.4%; display: block;}
.input_all #jm_ywdp select{ width: 76%; float: left; border: none; padding:4% 0 4% 1%; margin-top: 2.5%; margin-left: 20%; display: block; font-size: 12px; background: none;}

.input_all em{ width: 13%; float:left; margin:2% 0 0 3%; display: block;}
.input_all em img{ width: 100%; height:100%; float:left;}

.jm_b_b{ width: 100%; float: left; margin-top:1.5%; display: block;}
.jm_b_b dd{ width: 100%; background: url(../images/home/lxwm/lxwm_input_3.jpg) no-repeat top left; background-size: 100%; float: left; padding-bottom:4%;}
.jm_b_b dd textarea{ width: 92%; float: left; border: none; padding-bottom:8.5%; margin: 2% 0 0 5%; display: block;}
.jm_b_b dt{ width: 100%; float: left;}
.jm_b_b dt img{ width: 100%; height: 100%;}

.jm_c{ width: 66%; float: left; margin: 5% 0 0 0;}
.jm_c dl{ width: 100%; float: left;}
.jm_c dl dd{ width: 28%; float: left;}
.jm_c dl dd b{ width: 100%; float: left; font-size: 18px;}
.jm_c dl dd em{background: url(../images/home_lxwm_phone.jpg) no-repeat top left; font-size: 14px; background-size: 12%; width: 100%; padding:2% 0 2% 18%; margin-top:5%; display:block; float: left;}
.jm_c dl dt{ width: 70%; float: left;}
.jm_c dl dt b{ width: 100%; float: left; font-size: 18px;}
.jm_c dl dt em{background: url(../images/home_lxwm_adress.jpg) no-repeat top left; font-size: 14px; background-size: 4.5%; width: 100%; padding:0.9% 0 2.2% 8%; margin-top:1.8%; display:block; float: left;}




























