<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="baidu-site-verification" content="i7M43Xxleh" />
<title>盈然-形象</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
<link rel="stylesheet" type="text/css" media="screen" th:href="@{../css/common.css}" />
<link rel="stylesheet" type="text/css" th:href="@{../css/common_menu.css}" />
<link rel="stylesheet" type="text/css" th:href="@{../css/sub_home.css}" />
<script type="text/javascript" th:src="@{../js/html5.js}"></script>
<script type="text/javascript" th:src="@{../js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{../js/jquery-common.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{../css/video-js.min.css}" />
</head>
<body>
<!-- header -->
<header class="ha_a" id="box">
<div class="ha_a_a menu">
<div class="dl_a">
<em><img th:src="@{../images/home/logo.jpg}" /></em>
</div>
<div class="dl_b">
<ul class="ha_b">
<li><a th:href="@{/}">首页</a></li>
<li class="li_3"><a th:href="@{/gsjj}">我们</a>
<dl class="li_3_content">
<dt><i></i></dt>
<dd class="firstItem"><a th:href="@{/gsjj}">公司简介</a></dd>
<dd><a th:href="@{/qywh}">企业文化</a></dd>
<dd class="lastItem"><a th:href="@{/fzlc}">发展历程</a></dd>
</dl>
</li>
<li class="li_3"><a th:href="@{/ppgs}">品牌</a>
<dl class="li_3_content">
<dt><i></i></dt>
<dd class="firstItem"><a th:href="@{/ppgs}">品牌故事</a></dd>
<dd><a th:href="@{/ppfg}">品牌风格</a></dd>
<dd><a th:href="@{/ppln}">品牌理念</a></dd>
<dd class="lastItem"><a th:href="@{/ppzx}">品牌资讯</a></dd>
</dl>
</li>
</ul>
<ul class="ha_d">
<li class="li_3"><a th:href="@{/xxzx}">形象</a>
<dl class="li_3_content">
<dt><i></i></dt>
<dd class="firstItem"><a th:href="@{/cxxl}">2018春夏系列</a></dd>
<dd><a th:href="@{/qdxl}">2018秋冬系列</a></dd>
<dd class="lastItem"><a th:href="@{/xxzx}">形象VIDEO</a></dd>
</dl>
</li>
<li><a th:href="@{/mdzs}">门店</a></li>
<li class="li_3"><a th:href="@{/jmzx}">加盟</a>
<dl class="li_3_content">
<dt><i></i></dt>
<dd class="firstItem"><a th:href="@{/jmzx}">加盟流程</a></dd>
<dd class="lastItem"><a th:href="@{/jmzx}">加盟政策</a></dd>
</dl>
</li>
</ul>
</div>
</div>
</header>
<!-- header -->

<!-- conter -->
<div class="ca_a">

<!-- xx-content -->
<div class="zxx_a">

<!-- xx-xxzx -->
<div class="zxx_b">
<dl>
<dd id="cxxl">
<em><a th:href="@{/cxxl}"><img th:src="@{../images/xx/xx_xxzx_hb_1.jpg}" /></a></em>
<b><a th:href="@{/cxxl}">2018春夏系列</a></b>
<i><a id="cxxl_box" style="display: none;"></a></i>
</dd>
<dt id="qdxl">
<em><a th:href="@{/qdxl}"><img th:src="@{../images/xx/xx_xxzx_hb_2.jpg}" /></a></em>
<b><a th:href="@{/qdxl}">2018秋冬系列</a></b>
<i><a id="qdxl_box" style="display: none;"></a></i>
</dt>
</dl>
<strong><a></a></strong>
</div>
<script type="text/javascript">
$("#cxxl").hover(function(){$("#cxxl_box").show();},function(){$("#cxxl_box").hide();});
$("#qdxl").hover(function(){$("#qdxl_box").show();},function(){$("#qdxl_box").hide();});
</script>
<!-- xx-xxzx -->

<!-- xx-xxsp -->
<div class="zxx_c">
<dl>
<!-- <dd><img th:src="@{../images/xx/xx_xxzx_sp_1.jpg}" /></dd> -->
<dd>
<video id="my-video" class="video-js" controls preload="auto" width="750"
 poster="images/xx/xx_xxzx_sp_1.jpg" data-setup="{}">
<source th:src="@{../video/yingranSP.mp4}" type="video/mp4">
</video>
</dd>
<script type="text/javascript" th:src="@{../js/video.min.js}"></script>
<script type="text/javascript" th:src="@{../js/video-js.swf}"></script>
<script type="text/javascript" th:src="@{../js/videojs-ie8.min.js}"></script>
<script type="text/javascript">
var myPlayer = videojs('my-video');
videojs("my-video").ready(function(){
	var myPlayer = this;
	myPlayer.play();
});
</script>
<dt><img th:src="@{../images/xx/xx_xxzx_sp_zt.jpg}" /></dt>
</dl>
</div>
<!-- xx-xxsp -->

</div>
<!-- wm-content -->

</div>
<!-- conter -->

<!-- footer -->
<footer class="fa_a">
<!-- 1 -->
<div class="ea_a">
<div class="ea_a_a">
<!-- 1-1 -->
<div class="ea_b">
<em><img th:src="@{../images/foot_logo.png}" /></em>
<dl>
<dd class="ea_b_b">
<strong><a th:href="@{/jmzx}">加盟</a></strong>
<ul>
<li><a th:href="@{/jmzx}">加盟流程</a></li>
<li><a th:href="@{/jmzx}">加盟政策</a></li>
</ul>
</dd>
<dd class="ea_b_b">
<strong><a th:href="@{/mdzs}">门店</a></strong>
<ul>

</ul>
</dd>
<dd class="ea_b_b">
<strong><a th:href="@{/xxzx}">形象</a></strong>
<ul>
<li><a th:href="@{/cxxl}">2018春夏系列</a></li>
<li><a th:href="@{/qdxl}">2018秋冬系列</a></li>
<li><a th:href="@{/xxzx}">形象VIDEO</a></li>
</ul>
</dd>
<dd class="ea_b_b">
<strong><a th:href="@{/ppgs}">品牌</a></strong>
<ul>
<li><a th:href="@{/ppgs}">品牌故事</a></li>
<li><a th:href="@{/ppfg}">品牌风格</a></li>
<li><a th:href="@{/ppln}">品牌理念</a></li>
<li><a th:href="@{/ppzx}">品牌资讯</a></li>
</ul>
</dd>
<dd class="ea_b_b">
<strong><a th:href="@{/gsjj}">我们</a></strong>
<ul>
<li><a th:href="@{/gsjj}">公司简介</a></li>
<li><a th:href="@{/qywh}">企业文化</a></li>
<li><a th:href="@{/fzlc}">发展历程</a></li>
</ul>
</dd>
<dd class="ea_b_b">
<strong><a th:href="@{/}">首页</a></strong>
<ul>

</ul>
</dd>
</dl>
</div>
<!-- 1-1 -->
</div>
</div>
<!-- 1 -->
<!-- 2 -->
<div class="ea_c">
<div class="ea_c_c">
<p>北京盛唐风韵商贸有限公司  版权所有 京ICP备14060156号 京公网安备11010502026917</p>
<span>
<i>
<a class="button_weibo" onclick="shareToSinaWB(event)"></a>
<a class="jiathis_button_weixin"></a>
<a class="button_qq" onclick="shareToQzone(event)"></a>
</i>
<em>点击分享</em>
<script type="text/javascript" th:src="@{http://v3.jiathis.com/code/jia.js?uid=1}" charset="utf-8"></script>
</span>
</div>
</div>
<!-- 2 -->
</footer>
<!-- footer -->

<!-- rollback top -->
<div class="ea_m">
<div class="tophb">
<dl class="tophb_a">
<em><img th:src="@{../images/weixin_gz.jpg}" /></em>
<i>盈然-微信公众号</i>
</dl>
<dl class="tophb_a">
<em><img th:src="@{../images/kefu_gz.jpg}" /></em>
<i>盈然-客服公众号</i>
</dl>
</div>
<div class="ea_m_a">
<em  id="back-to-top"><img th:src="@{../images/back_top.png}" /></em>
</div>
</div>
<!-- rollback top -->

</body>
</html>